/* icon */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

/* font metropolitan */
@import url('https://cdn.jsdelivr.net/npm/@typehaus/metropolis@12.0.0-next.7/100,400,500,700.css');

:root {
  --black: #222222;
  --grey: #9b9b9b;
  --lightGrey: #d4d4d4;
  --white: #fff;
  --background: #f9f9f9;
  --red: #f01f0e;
  --primary: #db3022;
  --success: #2aa952;
}

* {
  font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--white);
  text-align: center;
}
.img-logo {
  height: 50px;
  width: 135px;
}
.text-logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary);
}

.nav-link {
  height: 48px;
  width: 123px;
}

.title-text {
  font-size: 18px;
}

.nav-item {
  border: 1px solid var(--grey)
  border-radius: 4px 0 0 4px;
}
.nav-item .nav-link {
  color: var(--grey)

}

.nav-item .nav-link.active {
  background-color: var(--primary);
  border-radius: 4px 0 0 4px;
  border: none;
}

.nav-item .nav-seller {
  border: 1px solid var(--grey);
  border-radius: 4px 0 0 4px;
}

.nav-item .nav-customer {
  border: 1px solid var(--grey);
  border-radius: 0 4px 4px 0;
}

.nav-item .nav-customer.active {
  border: none;
  border-radius: 0 4px 4px 0 ;
}

.form-control {
  width: 100%;
  border-radius:4px;
  font-size: 14px;
  color: var(--grey);
  height: 48px;

}

.btn-login {
  width: 100%;
  height: 48px;
  border-radius: 25px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

.btn-login:hover {
  background-color: var(--red);
  color: var(--white);
}

.text {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--primary)
}

@media only screen and (max-width: 576px){
  .nav-link {
    height: 48px;
    width: 205px;
  }
}

@media only screen and (max-width: 767px){
  .nav-link {
    height: 48px;
    width: 150px;
  }
}